ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

:root {
  --brand-color-blue: #2196f3;
  --brand-color-grey: #757575;
  --white-tekst: #fff;
  --background-dark: #2f303a;
  --background-light: #f5f4fa;
  --header-border: #ececec;
  --img-shadow-first: #0000001f; /* 0.12 opacity */
  --img-shadow-second: #00000024; /* 0.14 opacity */
  --img-shadow-third: #00000033; /* 0.2 opacity */
  --button-shadow-hover-first: #0000001a; /* 0.1 opacity */
  --button-shadow-hover-second: #00000014;
  --grid-shadow-second: #0000000f;
  --grid-shadow-third: #00000029; /* 0.16 opacity */
  --grid-border: #eee;
  --overlay: #2f303a66;
  --icon-color: #afb1b8;
  --icon-color-footer: #ffffff1a;
  --overlay-what-we-do: rgba(47, 48, 58, 0.8);
  --default-time: 250ms;
  --default-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --img-overlay-portfolio: rgba(33, 150, 243, 0.9);
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
}

h3 {
  color: #212121;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.is-active {
  position: relative;
  display: flex;
  color: var(--brand-color-blue);
}
.is-active::after {
  content: "";
  width: 100%;
  height: 4px;
  background: var(--brand-color-blue);
  position: absolute;
  top: 44px;
  border-radius: 2px;
}

.web-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  color: #000000;
  padding-top: 24px;
  padding-bottom: 25px;
  padding-right: 93px;
}

.web {
  color: #2196f3;
}
a.menu-links:link {
  color: #212121;
}
a.menu-links:visited {
  color: #212121;
}
a.menu-links:hover {
  color: #2196f3;
}
a.menu-links:active {
  color: #212121;
}
a.contact-links:link {
  color: #757575;
}
a.contact-links:visited {
  color: #757575;
}
a.contact-links:hover {
  color: #2196f3;
  fill: #2196f3;
}
a.contact-links:active {
  color: #757575;
}
.contacts-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
}
.main-box {
  width: 1600px;
  height: 600px;
  background-color: #2f303a;
  background-image: url(../images/background.jpg);
}
.introduction-main {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 600px;
}
.theme-website {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  padding-bottom: 30px;
}
h1 {
  display: flex;
  max-width: 696px;
  text-align: center;
  margin: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  color: #ffffff;
  padding-top: 200px;
}
.button-list {
  display: flex;
  justify-content: center;
}
.button-main {
  /* bg */
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
}
.box-lorem {
  line-height: 171%;
  color: #757575;
}

.icon-lorem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.title-lorem {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text-lorem {
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}
.box {
  line-height: 171%;
  color: #757575;
}
.about-us {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 50px;
}
.about-us-img {
  width: 370px;
  height: 294px;
}
.team {
  width: 1600px;
  background-color: #f5f4fa;
}
.our-team-title {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 50px;
}

.card {
  display: block;
  width: 270px;
  height: 368px;
  height: 428px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-clients {
  margin-bottom: 94px;
}
.our-clients-heading {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 94px;
}
.clients-icon {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.clients-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}
.clients-logo:hover {
  border-color: #2196f3;
  border-radius: 4px;
}
.clients-logo:hover {
  fill: #2196f3;
}
.footer {
  width: 1600px;
  height: 252px;
  display: flex;
  background: #2f303a;
  padding-top: 60px;
  margin: 0px;
}
.footer-box {
  display: flex;
  justify-content: flex-start;
}
.address-footer {
  display: block;
  justify-content: flex-start;
  margin-right: 70px;
}
.footer-top-line {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  color: #ffffff;
  padding-bottom: 20px;
}
.footer-location {
  font-size: 14px;
  line-height: 171%;
  color: #ffffff;
  letter-spacing: 0.03em;
}
.footer-contact {
  font-size: 14px;
  line-height: 171%;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}
.footer-contact-mail {
  font-size: 14px;
  line-height: 171%;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  text-decoration-line: underline;
}
.join-us-footer {
  display: block;
}
.join-us-title {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}
.footer-social-media {
  display: flex;
  gap: 10px;
}
.social-media-footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}
.social-media-footer-icons:hover {
  fill: #ffffff;
  background-color: #2196f3;
}
.button-portfolio {
  height: 38px;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  color: #212121;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.03em;
}
.button-portfolio:link {
  background-color: #f5f4fa;
  color: #212121;
}
.button-portfolio:visited {
  background-color: #f5f4fa;
  color: #212121;
}
.button-portfolio:hover {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.button-portfolio:active {
  background-color: #2196f3;
  color: #ffffff;
}
.project-card {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 404px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.card-border {
  display: block;
  justify-content: flex-start;
  height: 110px;
  width: 370px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
  margin: 0 auto;
  padding: 20px 24px;
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
}
.project-description {
  font-size: 16px;
  line-height: 188%;
  color: #757575;
}
.container {
  width: 1200px;
  margin: 0 200px;
}
.navigation-container {
  display: flex;
  justify-content: space-between;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
.team-main {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.logo-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 93px;
}
.menu-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  row-gap: 46px;
  padding-top: 32px;
  margin-left: 0;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  width: 254px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.contacts-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 321px;
  row-gap: 30px;
  padding-top: 32px;
}
.contacts-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 321px;
  padding-top: 32px;
  padding-bottom: 32px;
  row-gap: 30px;
}
.contacts-position {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding-right: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.contacts-position:hover {
  color: #2196f3;
  fill: #2196f3;
}
.contact-links {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}
.lorem-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-top: 94px;
}
.work-photos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 94px;
}
.team-photos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.card-name {
  color: #212121;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-icon {
  display: flex;
  justify-content: space-around;
  width: 206px;
  height: 56px;
  margin-left: 32px;
  gap: 10px;
  fill: #afb1b8;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 22px;
  cursor: pointer;
}
.social-media-icons-twitter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16.25px;
  width: 20px;
  left: 0px;
  top: 1.875px;
  border-radius: 0px;
  padding-top: 20;
  border: none;
  border-radius: 22px;
  cursor: pointer;
}
.social-media-icons:hover {
  fill: #ffffff;
  background-color: #2196f3;
}

.portfolio-container {
  width: 572px;
  padding-top: 94px;
  padding-bottom: 34px;
  margin: 0 auto;
}
.position-name {
  color: #757575;
  display: flex;
  justify-content: center;
}
.portfolio-menu {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 0px 22px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 94px;
}
.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-tekst);
  background-color: var(--img-overlay-portfolio);
  width: 100%;
  height: 100%;
  padding: 49px 45px 49px 24px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: var(--default-time);
  transition-timing-function: var(--default-timing-function);
}
.card-overlay:hover .grid-overlay {
  transform: translateY(0);
}
.button {
  cursor: pointer;
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 1;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--img-shadow-third);
  display: flex;
}

.modal {
  position: fixed;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  background-color: var(--white-tekst);
  box-shadow: 0px 1px 3px var(--img-shadow-first),
    0px 1px 1px var(--img-shadow-second), 0px 2px 1px var(--img-shadow-third);
  border-radius: 4px;
}

.close {
  all: unset;
  margin: 8px 0 0 490px;
}

.close:hover {
  background: none;
  box-shadow: none;
  cursor: pointer;
}
.photo-box {
  position: relative;
  overflow: hidden;
}
